.main-wrapper {
	width       : 100%;
	font-family : 'AvenirNext-Medium', Arial, sans-serif;
	background  : $primaryTextColor;
	color       : $primaryBgColor;
	margin      : 0 auto;

	div {
		width     : 100% !important;
		font-size : 15px;
		padding   : 0 25px;

		> div {
			width : calc(100% + 50px) !important;
		}
	}

	h1 {
		font-family    : 'AvenirNext-Bold', Arial, sans-serif;
		font-weight    : bold;
		text-transform : uppercase;
		margin         : 0;
		padding        : 15px 25px 0;
		font-size      : 18px;
		line-height    : 18px;

		a {
			text-decoration : none;
			color           : $primaryBgColor;
		}
	}

	h2 {
		margin         : 0;
		font-size      : 15px;
		color          : $primaryTextColor;
		padding        : 2px 25px 0;
		text-transform : uppercase;
		font-weight    : lighter;
	}

	a {
		text-decoration : none;
		color           : $accentColor;
	}

	div > img,
	div p img,
	iframe,
	.twitter-tweet {
		width       : calc(100% + 50px) !important;
		margin-left : -25px;
		height      : auto !important;
	}

	blockquote {
		margin : 0;
	}

	iframe {
		min-height : 240px !important;
	}

	img {
		margin : -5px 0 5px -25px;
		width  : calc(100% + 50px) !important;
		height : auto !important;
	}
}