.button {
	display : inline-block;

	&--close {
		text-align : center;
		background : $primaryTextColor;
		color      : $primaryBgColor;
		width      : 100%;
		display    : block;
		padding    : 10px;
	}
}