<div class="container--article">

	<div class="button button--close">Close</div>
	<div class="segment segment--article main-wrapper">
		<h1 class="segment__title segment__title--article">{{articleCtrl.title}}</h1>
		<div ng-bind-html="articleCtrl.trustHtml()"></div>
	</div>

</div>