<div class="nav">
	<p class="nav__current-page">{{contentCtrl.content.sections[contentCtrl.whichContent].title}}</p>
	<div class="nav__pulldown-area">
		<a ng-repeat="section in contentCtrl.content.sections" href="#/content/{{contentCtrl.content.title}}?articles={{$index}}">{{section.title}}</a>
	</div>
</div>

<div class="container--interior">

	<div class="segment segment--interior" id="{{contentCtrl.content.sections[contentCtrl.whichContent].class}}">
		<div ng-repeat="article in contentCtrl.content.sections[contentCtrl.whichContent].articles | limitTo : 20"
		     class="content content--{{article.randomSize}}"
		     ng-click="gotoArticle((contentCtrl.content.title),(contentCtrl.whichContent),($index))"
		     stagger-in
			>
			<div class="thumbnail thumbnail--{{$index}}"
			     bg-image="article.images[0].url"
			     err-src="/images/placeholder-black.jpg"
				></div>
			<div class="meta">
				<h3 class="meta__headline">{{article.title}}</h3>
				<h2 class="meta__desc">By : {{article.author.name}}</h2>
			</div>
		</div>
	</div>

</div>