<div
	ng-repeat="section in homeCtrl.content.sections | limitTo : 1"
	class="segment segment--grid"
	id="{{section.title}}"
	>

	<div ng-repeat="article in section.articles | limitTo : 4"
	     class="segment__content"
	     bg-image="article.images[0].url"
	     ng-click="gotoArticle((homeCtrl.content.title),($parent.$index),($index))"
	     plop-in
		>
		<div class="meta meta--grid">
			<h3 class="meta__category"><strong>{{section.titleBold}}</strong> {{section.titleNormal}}</h3>
			<h2 class="meta__headline">{{article.title}}</h2>
		</div>
	</div>

</div><!-- /segment__grid -->

<div class="container container--sub">

	<div ng-repeat="section in homeCtrl.content.sections"
	     ng-if="$index > 0"
	     class="segment"
	     id="{{section.title}}"
	     slide-in
	     trigger-parallax
		>

		<h2 class="segment__title"><strong>{{section.titleBold}}</strong> {{section.titleNormal}}</h2>

		<div ng-switch="section.subType">

			<!-- /social markup -->
			<div ng-switch-when="twitter" class="slider slider--{{section.class}}">
				<div ng-repeat="article in section.articles | limitTo : 20"
				     class="slider__content slider__content--{{article.source}}"
				     add-draggable
					>
					<div class="thumbnail thumbnail--{{$index}} thumbnail--social"
					     bg-image="article.images[0].url"
					     err-src="/images/placeholder-black.jpg"
						></div>

					<div class="social social--{{section.subType}}">
						<img class="social__user-icon" ng-src="{{article.author.image.url}}" />
						<span class="social__post-time"><span time-ago="article.date"></span></span>
						<p class="social__user-name">{{article.author.name}}</p>
						<div class="social__content" ng-bind-html="trustHtml( article.text )"></div>
						<div class="social__controls">
							<a class="icon--full-screen" href="#">View Image</a>
						</div><!-- /social__controls -->
					</div><!-- /social -->

				</div>
			</div>
			<!-- /social markup -->

			<!-- /default markup -->
			<div ng-switch-default class="slider slider--{{section.class}}">
				<div ng-repeat="article in section.articles | limitTo : 10"
				     class="slider__content slider__content--{{article.source}}"
				     ng-click="gotoArticle((homeCtrl.content.title),($parent.$index),($index))"
				     add-draggable
					>
					<div class="thumbnail thumbnail--{{$index}}"
					     bg-image="article.images[0].url"
					     err-src="/images/placeholder-black.jpg"
						></div>
					<div class="meta">
						<h3 class="meta__headline">{{article.title}}</h3>
						<h2 class="meta__desc">By : {{article.author.name}}</h2>
					</div><!-- /meta -->
				</div>
			</div>
			<!-- /default markup -->

		</div><!-- /switch wrapper -->

	</div><!-- /repeat wrapper -->

</div><!-- /container-sub -->