<div class="nav">
	<p class="nav__current-page">{{socialCtrl.content.sections[socialCtrl.whichContent].title}}</p>
	<div class="nav__pulldown-area">
		<a ng-repeat="section in socialCtrl.content.sections" href="#/social/{{socialCtrl.content.title}}?articles={{$index}}">{{section.title}}</a>
	</div>
</div>

<div class="container--interior">

	<!-- /social markup -->



	<div class="{{socialCtrl.content.sections[socialCtrl.whichContent].class}}" style="position: relative;">

		<div ng-switch="socialCtrl.content.sections[socialCtrl.whichContent].subType">

			<!-- /twitter markup -->
			<div ng-switch-when="twitter" ng-repeat="article in socialCtrl.content.sections[socialCtrl.whichContent].articles | limitTo : 20"
			     class="section--{{socialCtrl.content.sections[socialCtrl.whichContent].class}}"
				>
				<div class="thumbnail thumbnail--{{$index}} thumbnail--social"
				     bg-image="article.images[0].url"
				     err-src="/images/placeholder-black.jpg"
					></div>

				<div class="social social--{{socialCtrl.content.sections[socialCtrl.whichContent].subType}}">
					<img class="social__user-icon" ng-src="{{article.author.image.url}}" />
					<span class="social__post-time"><span time-ago="article.date"></span></span>
					<p class="social__user-name">{{article.author.name}}</p>
					<div class="social__content" ng-bind-html="trustHtml( article.text )"></div>
					<div class="social__controls">
						<a class="icon--full-screen" href="#">View Image</a>
					</div><!-- /social__controls -->
					<div class="clear"></div>
				</div><!-- /social -->

			</div>
			<!-- /twitter markup -->

			<!-- /facebook markup -->
			<div ng-switch-when="facebook" ng-repeat="article in socialCtrl.content.sections[socialCtrl.whichContent].articles | limitTo : 20"
			     class="section--{{socialCtrl.content.sections[socialCtrl.whichContent].class}}"
				>


				<div class="social social--{{socialCtrl.content.sections[socialCtrl.whichContent].subType}}">
					<img class="social__user-icon" ng-src="{{article.author.image.url}}" />
					<span class="social__post-time"><span time-ago="article.date"></span></span>
					<p class="social__user-name">{{article.author.name}}</p>
					<div class="social__content" ng-bind-html="trustHtml( article.title )"></div>
					<img ng-src="{{article.images[0].url}}" alt="" />
					<div class="clear"></div>
				</div><!-- /social -->

			</div>
			<!-- /facebook markup -->

		</div>

	</div>
	<!-- /social markup -->

</div>