/* ---- [ Fonts ] ---- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

$fontFamily : 'Open Sans', sans-serif;

$fontInfo : (
	sizes : (
		xx-small : .5em,
		x-small : .65em,
		small : .75em,
		base : .9em,
		large : 1.2em,
		x-large : 1.5em,
		xx-large : 2em
	),
	weights : (
		base : 400,
		light : 300,
		bold : 700
	)

);

@function fontInfo( $type, $size : 'base' ){
	@return map-get( map-get( $fontInfo, $type ), $size );
}

/* ---- [ Colors ] ---- */
$primaryBgColor : #19191e;
$primaryTextColor : #e5e5e5;
$secondaryTextColor : #e5e5e5;
$accentColor : #ffbe00;
$segmentsTitleColor : #e5e5e5;

$navBarColor : #19191e;
$navBarGradientColor : #19191e;

$scrollablePageTabBgColor : #19191e;
$scrollablePageTitleColor : #e5e5e5;

$tabsBarColor : #19191e;
$tabsSelectedColor : #e5e5e5;

$color-primary : $primaryBgColor;
$color-secondary : $accentColor;
$color-accent : $accentColor;

$baseOpacity : .75;