<!DOCTYPE html>
<html ng-app="AffiliateApp" ng-controller="GlobalCtrl">
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/styles.css" />
</head>
<body>

<<<<<<< HEAD
<div class="menu">
	<a href="#" class="menu-item"><i class="icon icon-home icon--active"></i> Home</a>
	<a href="#" class="menu-item"><i class="icon icon-news"></i> News</a>
	<a href="#" class="menu-item"><i class="icon icon-media"></i> Media</a>
	<a href="#" class="menu-item"><i class="icon icon-chat"></i> Chat</a>
	<a href="#" class="menu-item"><i class="icon icon-more"></i> More</a>
</div><!-- /menu -->

<div class="container-dragger">

		<h1 class="logo">BSO</h1>
		<div class="container container--grid">

			<div class="content content--grid">
				<img class="thumbnail thumbnail--grid" src="images/coverImg_01.png" alt="coverimg" />
				<div class="meta-wrapper meta-wrapper--grid">
					<h3 class="meta-info meta-category--grid">College Football</h3>
					<h2 class="meta-headline meta-headline--grid">Bama Safety Landon Collins Declares For NFL Draft</h2>
				</div>
			</div>

			<div class="content content--grid">
				<img class="thumbnail thumbnail--grid" src="images/coverImg_02.png" alt="coverimg" />
				<div class="meta-wrapper meta-wrapper--grid">
					<h3 class="meta-info meta-category--grid">NBA</h3>
					<h2 class="meta-headline meta-headline--grid">Cavs Telling Opposing Players About Their Issues With Coach Blatt</h2>
				</div>
			</div>

			<div class="content content--grid">
				<img class="thumbnail thumbnail--grid" src="images/coverImg_03.png" alt="coverimg" />
				<div class="meta-wrapper meta-wrapper--grid">
					<h3 class="meta-info meta-category--grid">Pretty Ladies</h3>
					<h2 class="meta-headline meta-headline--grid">Kim Kardashian Thirst Trapping #ForTheBros & Vogue (Photos)</h2>
				</div>
			</div>

			<div class="content content--grid">
				<img class="thumbnail thumbnail--grid" src="images/coverImg_04.png" alt="coverimg" />
				<div class="meta-wrapper meta-wrapper--grid">
					<h3 class="meta-info meta-category--grid">NBA</h3>
					<h2 class="meta-headline meta-headline--grid">Dwyane Wade “Day to Day” With Sore Hamstring</h2>
				</div>
			</div>

		</div><!-- /container--hero -->

	<div class="container-super">

		<!-- --------------------------
			NEWS SECTION
		-------------------------- -->
		<div class="container container--news">

			<h2 class="title"><strong>BSO Breaking</strong> news</h2>

			<div class="slider slider--news">

				<script class="section--news" type="text/x-handlebars-template">
					{{#each content}}
					<div class="content content--{{../category}}">
						<img class="thumbnail thumbnail--{{../category}} thumb--{{@index}}" src="{{image}}" />
						<div class="meta-wrapper meta-wrapper--{{../category}}">
							<h2 class="meta-headline meta-headline--{{../category}}">{{{headline}}}</h2>
							<h3 class="meta-info meta-info--{{../category}}">{{{meta}}}</h3>
						</div><!-- /meta-wrapper -->
					</div><!-- /content--{{../category}} -->
					{{/each}}
				</script>
			</div><!-- /slider--news -->

		</div><!-- /container--news -->

		<!-- --------------------------
			First Ad
		------------------------- -->
		<div class="container container--ad">
			<a href="#"><img class="thumbnail" src="images/placeholders/ad_01.jpg" alt="first add" /></a>
		</div><!-- /container--add -->

		<!-- --------------------------
			Entertainment Section
		-------------------------- -->
		<div class="container container--entertainment">

			<h2 class="title"><strong>Sports</strong> Entertainment</h2>

			<div class="slider slider--entertainment">

				<script class="section--entertainment" type="text/x-handlebars-template">
					{{#each content}}
					<div class="content content--{{../category}}">
						<img class="thumbnail thumbnail--{{../category}} thumb--{{@index}}" src="{{image}}" />
						<div class="meta-wrapper meta-wrapper--{{../category}}">
							<h2 class="meta-headline meta-headline--{{../category}}">{{{headline}}}</h2>
							<h3 class="meta-info meta-info--{{../category}}">{{{meta}}}</h3>
						</div><!-- /meta-wrapper -->
					</div><!-- /content--{{../category}} -->
					{{/each}}
				</script>

			</div><!-- /slider--entertainment -->

		</div><!-- /container--entertainment -->

		<div class="container container--nfl">

			<h2 class="title"><strong>NFL</strong> News</h2>

			<div class="slider slider--nfl">

				<script class="section--nfl" type="text/x-handlebars-template">
					{{#each content}}
					<div class="content content--{{../category}}">
						<img class="thumbnail thumbnail--{{../category}} thumb--{{@index}}" src="{{image}}" />
						<div class="meta-wrapper meta-wrapper--{{../category}}">
							<h2 class="meta-headline meta-headline--{{../category}}">{{{headline}}}</h2>
							<h3 class="meta-info meta-info--{{../category}}">{{{meta}}}</h3>
						</div><!-- /meta-wrapper -->
					</div><!-- /content--{{../category}} -->
					{{/each}}
				</script>

			</div><!-- /slider--nfl -->

		</div><!-- /container--nfl -->

		<div class="container container--nba">

			<h2 class="title"><strong>NBA</strong> News</h2>

			<div class="slider slider--nba">

				<script class="section--nba" type="text/x-handlebars">
					{{#each content}}
					<div class="content content--{{../category}}">
						<img class="thumbnail thumbnail--{{../category}} thumb--{{@index}}" src="{{image}}" />
						<div class="meta-wrapper meta-wrapper--{{../category}}">
							<h2 class="meta-headline meta-headline--{{../category}}">{{{headline}}}</h2>
							<h3 class="meta-info meta-info--{{../category}}">{{{meta}}}</h3>
						</div><!-- /meta-wrapper -->
					</div><!-- /content--{{../category}} -->
					{{/each}}
				</script>

			</div><!-- /slider--nba -->

		</div><!-- /container-nba -->

		<!-- --------------------------
			Second Ad
		------------------------- -->
		<div class="container container--ad_big">
			<a href="#"><img class="thumbnail" src="images/placeholders/ad_02.jpg" alt="first add" /></a>
		</div><!-- /container--add -->

	</div><!-- /container -->

</div><!-- /container--dragger -->

=======
<div class="title-bar">
	<h1 class="title-bar__logo">{{title}}</h1>
</div>

<div class="menu">
	<a ng-repeat="menu in appContent" class="menu__item menu__item--{{menu.class}}" href="#/{{menu.layout}}/{{menu.title}}">
		<i class="menu__icon"></i>
		{{menu.title}}
	</a>
</div>

<div class="container" ng-view></div>

<!--
	Library files needed for this app
-->
>>>>>>> dev-angular-configs
<script src="js/libs/jquery-1.11.2.min.js"></script>
<script src="js/libs/greensock/TweenMax.min.js"></script>
<script src="js/libs/greensock/plugins/ThrowPropsPlugin.min.js"></script>
<script src="js/libs/greensock/utils/Draggable.min.js"></script>
<<<<<<< HEAD
<script src="js/libs/handlebars-v2.0.0.js"></script>
=======
<script src="js/libs/greensock/plugins/ScrollToPlugin.min.js"></script>
<script src="js/libs/underscore.min.js"></script>
<script src="js/libs/moments.min.js"></script>
<!--
 Angular Base Files
-->
<script src="js/libs/angular/angular.min.js"></script>
<script src="js/libs/angular/angular-route.min.js"></script>
<script src="js/libs/angular/angular-animate.min.js"></script>
<script src="js/libs/angular/angular-sanitize.min.js"></script>

<!--
 Affiliate App files
 -->
<script src="js/affiliate/AffiliateConfig.js"></script>
<script src="js/app/AffiliateApp.js"></script>
<script src="js/app/AffiliateRouter.js"></script>

<!--
 Controllers
-->
<script src="js/app/controllers/HomeCtrl.js"></script>
<script src="js/app/controllers/ContentCtrl.js"></script>
<script src="js/app/controllers/SocialCtrl.js"></script>
<script src="js/app/controllers/ArticleCtrl.js"></script>

<!--
 Factories
-->
<script src="js/app/factories/Factories.js"></script>

<!--
 Directive
-->
<script src="js/app/directives/Directives.js"></script>

<!--
 Models
-->
<script src="js/app/models/Articles.js"></script>

<!--
	Custom JS files
-->
>>>>>>> dev-angular-configs
<script src="js/main.js"></script>

</body>
</html>