*, *:before, *:after { box-sizing : border-box; }

body {
	margin      : 0;
	padding     : 0;
	background  : $black;
	font-family : $fontFamily;
	color       : $white;
}

.container {
	z-index    : 0;
	margin     : 0 auto;
	width      : 100%;
	overflow   : hidden;
	position   : relative;
	background : $black;
}

.container-wrapper {
	position  : relative;
	width     : 100%;
	max-width : 360px;
	margin    : 0 auto;
	padding   : 0;
}

.container-dragger {
	width    : 100%;
	height   : 100%;
	position : absolute;
}

.container-super {
	position  : relative;
	width     : 100%;
	max-width : 360px;
	margin    : 0 auto;
	padding   : 0;
}

.container-dragger--inner {
	width         : 100%;
	position      : relative;
	//padding-bottom : 83px;
	margin-bottom : -5px;
}

/* ----- [ Base Styles ] ----- */
.logo {
	background      : url("../images/logo_white.png") no-repeat;
	width           : 152px;
	height          : 48px;
	@include image-2x("../images/logo_white-2x.png", 190px, 60px);
	text-indent     : -9999px;
	background-size : cover;
}

.title {
	font-weight    : 300;
	letter-spacing : 2px;
	text-transform : uppercase;
	font-size      : 1.5em;

	strong {
		font-weight : 700;
	}
}

.headline {
	text-transform : uppercase;
	font-size      : .8em;
	letter-spacing : 2px;
	margin         : 5px 0;
	font-weight    : 600;
}

.thumbnail {
	position : absolute;
	width    : 100%;
	height   : 100%;
}

.content {
	width    : 360px;
	height   : 220px;
	float    : left;
	position : relative;
}

.container--ad {
	height : 125px;
}

.container--ad_big {
	height : 200px;
}

/* ------ [ Base Slider ] ----- */
.slider {
	width    : 99999px;
	position : relative;
}

/* ----- [ Meta content ] ---- */
.meta-wrapper {
	width          : 100%;
	position       : absolute;
	font-weight    : 700;
	padding        : 0 10px 10px;
	text-align     : right;
	bottom         : 0;
	background     : linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	text-transform : uppercase;
	letter-spacing : 2px;
}

.meta-category {
	font-weight    : bold;
	color          : $gold;
	margin         : 0;
	font-size      : .9rem;
	text-transform : uppercase;
	position       : relative;
}

.meta-headline {
	font-size      : .75em;
	letter-spacing : 2px;
	font-weight    : 700;
	margin         : 0;
	text-transform : uppercase;
	position       : relative;
}

.meta-info {
	font-size      : .6em;
	letter-spacing : 2px;
	font-weight    : 300;
	margin         : 0;
	text-transform : uppercase;
	position       : relative;
}

/* ----- [ Hero Section ] ----- */
.slider--hero {
	height : 490px;
}

.container--hero {
}

.content--hero {
	background : #000;
	height     : 490px;
	overflow   : hidden;
	top        : 0;
	left       : 0;
	position   : absolute;
	float      : none;
}

.meta-wrapper--hero {
}

.thumbnail--hero {
}

.meta-category--hero {
	color     : $gold;
	font-size : .9rem;
}

.meta-headline--hero {
	font-size      : 1.05em;
	letter-spacing : 2px;
	font-weight    : 700;
	margin         : 0;
	text-transform : uppercase;
}

/* ---- [ Grid Section ] ---- */
.container--grid {
	height : 520px;
}

.content--grid {
	width  : 46%;
	height : 250px;
	margin : 2%;
	float  : left;
}

.meta-headline--grid {
	font-size : .7em;
}

.meta-category--grid {
	color       : $gold;
	font-size   : .5rem;
	font-weight : bold;
}

/* ---- [ Slider ] ---- */
.slider-pagi {
	margin : 10px auto;
	//width : 28%;
}

.slider-pagi--tab {
	background    : $grey;
	width         : 10px;
	height        : 10px;
	border-radius : 10px;
	margin-right  : 5px;
	display       : inline-block;
}

.slider-active {
	background : lighten($grey, 20%);
	width      : 13px;
	height     : 13px;
	position   : relative;
	top        : 2px;
}