.menu {
	position    : fixed;
	bottom      : 0;
	width       : 100%;
	height      : 60px;
	@include size-2x($height : 85px);
	padding-top : 10px;
	background  : rgba($black, 0.5);
	z-index     : 10000;
}

.menu-item {
	display         : inline-block;
	width           : 19%;
	height          : 45px;
	text-decoration : none;
	color           : $white;
	text-align      : center;
}

.icon {
	display             : block;
	width               : 30px;
	height              : 20px;
	@include size-2x(60px, 40px);
	margin              : 0 auto;
	background-repeat   : no-repeat;
	background-position : top;
}

.icon--active {
	background-position : bottom;
}

.icon-home {
	background-image : url("../images/icon-home.png");
	@include image-2x("../images/icon-home-2x.png", 60px, 40px);
}

.icon-news {
	background-image : url("../images/icon-news.png");
	@include image-2x("../images/icon-news-2x.png", 60px, 40px);
}

.icon-media {
	background-image : url("../images/icon-media.png");
	@include image-2x("../images/icon-media-2x.png", 60px, 40px);
}

.icon-chat {
	background-image : url("../images/icon-chat.png");
	@include image-2x("../images/icon-chat-2x.png", 60px, 40px);
}

.icon-more {
	background-image : url("../images/icon-more.png");
	@include image-2x("../images/icon-more-2x.png", 60px, 40px);
}