/* Colors */
$gold : #ffbe00;
$black : #19191e;
$white : #e5e5e5;
$grey : #999;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
$fontFamily : 'Open Sans', sans-serif;

$min-pix-ratio : 1.3;

/*
 * ----------------------------------
 * Mixins
 * ----------------------------------
 */

/**
 * @image-2x( image, width, height )
 *
 * Mixin Helper to adjust the width and height of elements based on pixel density
 *
 */
@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio : $min-pix-ratio),
	(-webkit-min-device-pixel-ratio : $min-pix-ratio),
	(min-device-pixel-ratio : $min-pix-ratio),
	(min-resolution : $min-pix-ratio + 'dppx') {
		/* on retina, use image that's scaled by 2 */
		background-image : url($image);
		//background-size: $width $height;
	}
}


/**
 * @size-2x( width, height )
 *
 * Mixin Helper to adjust the width and height of elements based on pixel density
 *
 */
@mixin size-2x($width : null, $height:null) {
	@media (min--moz-device-pixel-ratio : $min-pix-ratio),
	(-webkit-min-device-pixel-ratio : $min-pix-ratio),
	(min-device-pixel-ratio : $min-pix-ratio),
	(min-resolution : $min-pix-ratio + 'dppx') {
		@if ($width) { width : $width; }
		@if ($height) { height : $height; }
	}
}