/* ---- [ App Globals ] ---- */
*, *:before, *:after { box-sizing : border-box; }

body {
	margin      : 0;
	padding     : 0;
	background  : $primaryBgColor;
	font-family : $fontFamily;
	font-weight : fontInfo(weights, light);
	color       : $primaryTextColor;
	position    : relative;
	line-height : 1.25em;
}

a {
	color           : $primaryTextColor;
	text-decoration : none;
}

strong,
b {
	font-weight : fontInfo(weights, bold);
}

/* ---- [ Containers ] ---- */
.container {
	width     : 100%;
	max-width : 420px;
	margin    : 65px 0;
	position  : relative;

	&--sub {
		margin : 0;
	}

	&--interior {
		margin : 123px 0 0;
	}

	&--article {
		margin      : 68px 0;
		background  : $primaryTextColor;
		font-weight : fontInfo(weights, bold);
	}
}

/* ---- [ Title Bar Area ] ---- */
.title-bar {
	top        : 0;
	padding    : 20px;
	width      : 100%;
	position   : fixed;
	background : rgba($primaryBgColor, $baseOpacity);
	z-index    : 2000;
}

.title-bar__logo {
	display             : block;
	width               : 95px;
	height              : 30px;
	margin              : 0;
	font-size           : 0;
	background-size     : cover;
	background-repeat   : no-repeat;
	background-position : top;
	background-image    : url('../images/logo_white-2x.png');
}

/* ---- [ Sections ] ---- */
.segment {
	min-height : 285px;
	z-index    : 0;
	margin     : 0 auto;
	width      : 100%;
	overflow   : hidden;
	position   : relative;
	background : $primaryBgColor;

	&--grid {
		min-height : 328px;
	}

	&--article {
		background : $primaryTextColor;
	}
}

.segment__title {
	font-weight    : fontInfo(weights, light);
	letter-spacing : 1px;
	text-transform : uppercase;
	font-size      : 1.5em;
	padding-left   : 15px;

	strong {
		font-weight : fontInfo(weights, bold);
	}

	/*	&--article {
			color     : $primaryBgColor;
			font-size : 19px;
		}*/
}

.segment__content {
	width    : 360px;
	height   : 220px;
	float    : left;
	position : relative;

	.segment--grid & {
		width               : 46%;
		height              : 150px;
		margin              : 2%;
		float               : left;
		background-repeat   : no-repeat;
		background-position : top center;
		background-size     : cover;
		overflow            : hidden;
	}
}

/* ---- [ Meta Information ] ---- */
.meta {
	background     : linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	width          : 100%;
	height         : 100%;
	position       : absolute;
	bottom         : 0;
	padding        : 39% 5px 10px;
	font-weight    : fontInfo(weights, bold);
	letter-spacing : 2px;
	text-transform : uppercase;
	text-align     : right;

	.segment--grid & {
		padding : 55% 5px 10px;
	}
}

.meta__desc {
	letter-spacing : 2px;
	font-size      : fontInfo(sizes, small);
	color          : $primaryTextColor;
	opacity        : $baseOpacity;
	font-weight    : fontInfo(weights, base);
	margin         : 0;
}

.meta__headline {
	margin         : 0;
	letter-spacing : 2px;
	font-size      : fontInfo(sizes, base);

	.segment--grid & {
		font-size : fontInfo(sizes, x-small);
	}
}

.meta__category {
	margin      : 0;
	color       : $accentColor;
	font-size   : fontInfo(sizes, base);
	font-weight : fontInfo(weights, bold);

	.segment--grid & {
		font-size : fontInfo(sizes, x-small);
	}
}

/* ---- [ Slider ] ---- */
.slider {
	width    : 3600px;
	position : relative;
	overflow : hidden;

	&__content {
		width    : 360px;
		height   : 220px;
		float    : left;
		position : relative;
	}
}

.slider__content--twitter {

	.meta {

		&__headline {
			width    : 90%;
			right    : 10px;
			position : absolute;
			top      : 0;
		}

		&__desc {
			bottom   : 10px;
			position : absolute;
		}
	}
}

.thumbnail {
	position            : absolute;
	width               : 100%;
	height              : 100%;
	background-position : top center;
	background-repeat   : no-repeat;
	background-size     : cover;

	&--social {
		opacity : .35;
	}
}

/* ----- [ Content ] ----- */
.content {
	width    : 360px;
	height   : 220px;
	float    : left;
	position : relative;
	overflow : hidden;

	&--small {
		width    : 100%;
		height   : 150px;
		position : relative;

		.thumbnail {
			width : 40%;
			float : left;
		}

		.meta {
			position   : relative;
			width      : 60%;
			float      : right;
			margin     : 10% 0 0 3%;
			text-align : left;

			&__headline {
				width    : 90%;
				right    : 10px;
				position : absolute;
				top      : -30px;
			}

			&__desc {
				left     : 15px;
				bottom   : 60px;
				position : absolute;
			}

		}
	}
}

/* ---- [ Social ] ---- */
.social {
	width    : 100%;
	height   : 100%;
	padding  : 25px;
	z-index  : 500;
	position : absolute;

	&__user-icon {
		width : 45px;
		height : 45px;
		border-radius: 10px;
	}

	&__post-time {
		position  : absolute;
		font-size : .75em;
		top       : 55px;
		right     : 25px;
	}

	&__user-name {
		margin      : 2px 0;
		font-weight : 700;
	}
}

.social--facebook{
	position : relative;
}

.social__controls {
	position : absolute;
	bottom   : 25px;
	right    : 25px;
}

.icon--full-screen {
	display     : inline-block;
	width       : 33px;
	height      : 24px;
	text-indent : -9999px;
	background  : url("../images/icons/icon-full-screen.svg");
}

[class^='section'] {
	min-height    : 200px;
	position  : relative;
}