.menu {
  position    : fixed;
  bottom      : 0;
  width       : 100%;
  height      : 60px;
  padding-top : 5px;
  background  : rgba($primaryBgColor, $baseOpacity);
  z-index     : 2000;

  &__item {
    display         : inline-block;
    width           : 19%;
    height          : auto;
    text-decoration : none;
    color           : $primaryTextColor;
    text-align      : center;
    opacity         : $baseOpacity;

    &--active {
      opacity : 1;
    }

    &--home .menu__icon {
      background-image : url("../images/icons/icon-home.svg");
	    height           : 30px;
    }
    &--news .menu__icon {
      background-image : url("../images/icons/icon-news.svg");
    }
    &--social .menu__icon {
      background-image : url("../images/icons/icon-social.svg");
    }
    &--video .menu__icon {
      background-image : url("../images/icons/icon-video.svg");
    }
    &--more .menu__icon {
      background-image : url("../images/icons/icon-more.svg");
    }
  }
}
.menu__icon {
  display           : block;
  width             : 30px;
  height            : 25px;
  margin            : 0 auto;
  background-size   : 90% 90%;
  background-repeat : no-repeat;
}

/* ----- [ Drop Down Nav ] ----- */
.nav {
  position   : fixed;
  top        : 70px;
  width      : 100%;
  background : rgba($primaryBgColor, $baseOpacity);
  z-index    : 2000;
  height     : auto;
}

.nav__current-page{
  text-align : center;
  border-bottom : 1px solid $primaryTextColor;
  padding : 15px 0;
  margin : 0;
  width : 100%;
  cursor : pointer;
  position : relative;
  &:before{
    content : '';
    background : url('../images/icons/icon-menu.svg') no-repeat;
    display : block;
    width : 20px;
    height : 20px;
    position : absolute;
    left : 15px;
  }
}

.nav__pulldown-area{
  position : absolute;
  width : 100%;

  a{
    background : rgba($primaryBgColor, $baseOpacity);
    display : block;
    text-align : center;
    padding : 15px 0;
    border-bottom : 1px solid $primaryTextColor;
  }
}